.fast-fade-enter {
  opacity: 0;
}
.fast-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.fast-fade-exit {
  opacity: 1;
}
.fast-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}


.mid-fade-enter {
  opacity: 0;
}
.mid-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.mid-fade-exit {
  opacity: 1;
}
.mid-fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
